:root{
  touch-action: pan-x pan-y;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: bungee, sans-serif;
}

/* header container */

.headerContainer{
  background-color:#a2e7fa ; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.headerCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #66206e;
  font-size: 2.5em;
  font-weight: 700;
  transform : perspective(600px) rotateX(45deg);

}

.scorePara{
  color:#c966d4 ;
  font-size: 2.3em;
  margin: 5rem 0px;
  font-weight: bold;
  transform : perspective(600px) rotateX(45deg);
}

.startBtn {
  border: 0px;
  background-color: blue;
  color: #ffffff;
  font-size: 2em;
  width: 50%;
  font-weight: bold;
  border-radius: .3rem;
  padding: .3em;
  cursor: pointer;
}

#game div {
  border: 1px solid black;
  width: 16%;
  height: 15%;
  display: inline-block;
  background-image: url('https://cdn5.vectorstock.com/i/1000x1000/95/84/cute-unicorn-on-a-purple-background-with-stars-vector-27119584.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
} 

.imgSize{
  width: 100%;
  height: 100%;
}

.hideImg{
  display: none;
}

.gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #a2e7fa;
  gap: 10px;
  width: 100vw;
  height: 100vh;
}

#clickCountCont {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

/* footer container */

.footerContainer {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #a2e7fa;
  height: 100vh;
}

.endCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50%;
}

.restartBtn {
  background-color: red;
  color: #ffffff;
  border: 0px;
  border-radius: 1rem;
  width: 50%;
  padding: .5em;
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
}


